In [1]:
1

1

In [2]:
type (1)

int

In [3]:
100.5

100.5

In [4]:
type (1.0)

float

# Strings

In [5]:
'This is some text!'

'This is some text!'

In [6]:
"Instagram"

'Instagram'

In [7]:
'''This is 
some text'''

'This is \nsome text'

In [13]:
print('''this is Olga 
and I am cool''')

this is Olga
and I am cool

In [14]:
True

True

In [16]:
a = 1

In [17]:
print (a)

1

In [18]:
a + 1

2

In [19]:
a= a + 4

In [20]:
print (a)

5

In [26]:
b = 'Olga is cool'

In [27]:
print(b)

Olga is cool

In [28]:
type(b)

str

In [29]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
c = 'And everyone know it'

In [31]:
b + c

'Olga is coolAnd everyone know it'

In [32]:
d = b + c

In [33]:
d

'Olga is coolAnd everyone know it'

# Lists

In [34]:
[1,2, 'text', 3]

[1, 2, 'text', 3]

In [35]:
mylist = [1,2, 'text', 3, 4, 5]

In [36]:
print(mylist)

[1, 2, 'text', 3, 4, 5]

In [37]:
mylist.append(100)

In [38]:
mylist

[1, 2, 'text', 3, 4, 5, 100]

In [39]:
myitems = ['First Item', 'Second Item', 'Third Item']

In [40]:
myitems[0]

'First Item'

In [41]:
myitems[-1]

'Third Item'

In [42]:
myitems[-4]

IndexError: list index out of range

In [43]:
myitems[-3]

'First Item'

In [46]:
q = [1, 2, [1, 2]]

In [47]:
q [1]

2

In [48]:
q[2]

[1, 2]

In [49]:
q [2][0]

1

# Tuples

In [52]:
mytuple = [1, 2, 3, 4]

In [53]:
mytuple

[1, 2, 3, 4]

In [56]:
mytuple [1]

2

In [57]:
mytuple.amend [5]

AttributeError: 'list' object has no attribute 'amend'

# Dictionaries

In [59]:
world_capital = {
    'Netherlands':'Amsterdam',
    'Germany': 'Berlin',
    'Italy': 'Rome',
    'UK': 'London',
    'US': 'Washington'
}

In [62]:
world_capital['Italy']

'Rome'

In [63]:
world_capital[1]

KeyError: 1

In [65]:
world_capital['Brazil'] = 'Buenos Aires'

In [66]:
world_capital

{'Brazil': 'Buenos Aires',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Netherlands': 'Amsterdam',
 'UK': 'London',
 'US': 'Washington'}

In [67]:
world_capital['Brazil'] = 'Brasilia'

In [68]:
world_capital

{'Brazil': 'Brasilia',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Netherlands': 'Amsterdam',
 'UK': 'London',
 'US': 'Washington'}

# Assignment

# 1. Removing items from a list and a dictionary

In [69]:
new_list = ['Olga1', 'Olga2', 'Olga3', 'Olga4', 'Olga5']

In [72]:
new_list.append('Olga6')

In [73]:
new_list

['Olga1', 'Olga2', 'Olga3', 'Olga4', 'Olga5', 'Olga6']

In [76]:
new_list.remove('Olga3')

In [77]:
new_list

['Olga1', 'Olga2', 'Olga4', 'Olga5', 'Olga6']

In [85]:
name_lastname = {
    'Olga': 'Zhulidova',
    'Damiano': 'Turrini',
    'Alexander': 'Strachwitz',
    'Manuel': 'Valino',
    'Theo': 'Araujo',
    'Ewa': 'Maslowska'
}

In [86]:
name_lastname

{'Alexander': 'Strachwitz',
 'Damiano': 'Turrini',
 'Ewa': 'Maslowska',
 'Manuel': 'Valino',
 'Olga': 'Zhulidova',
 'Theo': 'Araujo'}

In [87]:
del name_lastname ['Olga']

In [88]:
name_lastname

{'Alexander': 'Strachwitz',
 'Damiano': 'Turrini',
 'Ewa': 'Maslowska',
 'Manuel': 'Valino',
 'Theo': 'Araujo'}


# 2. Playing with strings
* How can you convert the variable below to lower case?

In [94]:
allupper = 'THIS TEXT IS COMPLETELY IN UPPER CASE!'

In [95]:
print(allupper)

THIS TEXT IS COMPLETELY IN UPPER CASE!

In [98]:
str.lower(allupper)

'this text is completely in upper case!'

* How can we convert this string into a list of words?

In [99]:

sentence = '''This is a sentence with words separated by a lot of spaces.
How can we split it into a list of words?'''

In [100]:
print(sentence)

This is a sentence with words separated by a lot of spaces.
How can we split it into a list of words?

In [105]:
sentence.split()

['This',
 'is',
 'a',
 'sentence',
 'with',
 'words',
 'separated',
 'by',
 'a',
 'lot',
 'of',
 'spaces.',
 'How',
 'can',
 'we',
 'split',
 'it',
 'into',
 'a',
 'list',
 'of',
 'words?']

# 3. Organizing data

John Smith is 32 years old, is an analyst at Salesforce UK, and is father to a young boy. He is divorced. Mary Smith is 21 years old, currently studies at the University of Amsterdam, and was born in the US. Tom Brokaw is a US journalist, born in 1940, married with three children.

In [112]:
John_Smith = {
    'gender': 'male',
    'age': '32',
    'occupation': 'analyst',
    'company': 'Salesforce UK',
    'chirdren': '1',
    'children_gender': 'male',
    'marital_status':'divorced'
}

In [113]:
Mary_Smith = {
    'gender':'female',
    'age': '21',
    'occupation': 'student',
    'university': 'University_of_Amsterdam',
    'place of birth': 'US'
    
}

In [114]:
Tom_Brokaw = {
    'gender': 'male',
    'country': 'US',
    'age': '77',
    'occupation': 'journalist',
    'marital_status': 'married',
    'children': '3'
    
}

In [116]:
Tom_Brokaw['occupation']

'journalist'

In [117]:
John_Smith['age']

'32'

In [118]:
Mary_Smith['university']

'University_of_Amsterdam'